.container{
    display:flex;
    background-color: grey;
    justify-content: space-between;
}
.box{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 10px;
    line-height: 100px;
    
}
body{
    margin: 40px;
}
#box{
    width: 100px;
    height: 100px;
    background-color: cyan;
    position: relative;

}