form{
    margin: 1cm;
    border-style: groove;
    border-width: 1cm;
    border-color: gray;
    border-radius: 50px;
    padding: 0.5cm 0.5cm 0.5cm 0.5cm;
}
h1{
    position: static;
    left: 2cm;
}

#no{
    position: fixed;
    right: 4cm;
    top: 6cm;
}